@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    background-color: #34353A;
}

header {
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

header * {
    background-color: #24252A;
}

header li, a, button{
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header .logo {
    box-sizing: border-box;
    cursor: pointer;
    max-height: 60px;
    border: #24252A;
    border-radius: 50%;
}

header .nav__links {
    list-style: none;
}

header .nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

header .nav__links li a {
    transition: all 0.3s ease 0s;
}

header .nav__links li a:hover {
    color: #0088a9;
}

header button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 161, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: rgba(138, 59, 158, 0.8);
}